tags
key
.vim/vim-plug
.vim/autoload
.vim/.netrwhist
.vim/spell
/hosts
/.emacs.d/undohist/
/.emacs.d/transient/
/.emacs.d/session*
/.emacs.d/elpa/
/.emacs.d/eln-cache/
/.emacs.d/backups/
/.emacs.d/backups/
/.emacs.d/auto-save-list/
