source ~/.vimrc

Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'

set visualbell
set ideajoin

map <Leader>rr :source ~/.ideavimrc<CR>
map <Leader>cr <Action>(ReformatCode)
map <Leader>cR <Action>(RefactoringMenu)
map <Leader>cd <Action>(ShowReformatFileDialog)
map <Leader>ca <Action>(ShowIntentionActions)
map <Leader>rn <Action>(RenameElement)

map gr <Action>(FindUsages)
map gi <Action>(QuickImplementations)
map gh <Action>(ShowErrorDescription)

map <Leader>dr <Action>(Debug)
map <Leader>db <Action>(ToggleLineBreakpoint)

map <Leader>ff <Action>(GotoFile)
map <Leader>fc <Action>(GotoClass)
map <Leader>fg <Action>(FindInPath)
map <Leader>fr <Action>(RecentFiles)
map <Leader>fs <Action>(GotoSymbol)
map <Leader>fa <Action>(SearchEverywhere)

map <Leader>op <Action>(ActivateProblemsViewToolWindow)
map <Leader>or <Action>(ActivateRunToolWindow)
map <Leader>of <Action>(ActivateFindToolWindow)
map <Leader>ot <Action>(ActivateProjectToolWindow)
map <Leader>oT <Action>(ActivateTerminalToolWindow)
map <Leader>os <Action>(ActivateStructureToolWindow)
map <Leader>ob <Action>(ActivateBookmarksToolWindow)

map <Leader>gl <Action>(ActivateVersionControlToolWindow)
map <Leader>gs <Action>(ActivateCommitToolWindow)
map <Leader>gp <Action>(ActivatePullRequestsToolWindow)
map <Leader>gb <Action>(Annotate)
map <Leader>gB <Action>(Git.Branches)

map <C-w><C-o> <Action>(HideAllWindows)
